---
layout: page
---
<div class="blog-header">
  <h1 class="blog-title">{{ page.date | date: '%B %d, %Y' }}</h1>
  <p class="lead blog-description">Meeting notes, links, and information</p>
</div>


<div class="col-sm-8 blog-main">
{{ content }}
</div>


<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset sidebar-mute">
    <h3>Provided Links</h3>
    <ol class="list-unstyled">
      {% for pageLink in page.links %}
      <li><a href="{{ pageLink.link }}">{{ pageLink.title }}</a></li>
      {% endfor %}
    </ol>
  </div>
  <div class="sidebar-module sidebar-module-inset sidebar-mute">
    <h3>Other Links</h3>
    <ol class="list-unstyled">
      <li><a href="{{ site.data.aboutinfo.dragon_central_url }}" target="_blank">Dragon Central</a></li>
      <li><a href="{{ site.data.aboutinfo.planning_page }}" target="_blank">GitHub Planning Page</a></li>
      <li><a href="{{ site.data.aboutinfo.github_url }}" target="_blank">GitHub Organization Page</a></li>
      <li><a href="{{ site.data.aboutinfo.MSUM_url }}" target="_blank">MSUM Home Page</a></li>
      <li><a href="/meetings">All Meetings</a></li>
    </ol>
  </div>
</div>

<script type="text/javascript">
  $("#meetingsnav").addClass("active");
</script>
